.hero {
  transition: all 0.8s ease-out;

  &__right {
    background-color: $color-grey-light-2;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 68rem;
    border-radius: 5px;
    justify-self: end;
  }

  &__container {
    /*  padding: 0 4rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 4.5rem;
  }

  &__img {
    width: 100%;
    transform: scale(2);
    position: absolute;
    top: 30rem;
    filter: grayscale(0.8);
    box-shadow: 0 15px 33px -3px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 15px 33px -3px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 15px 33px -3px rgba(0, 0, 0, 0.17);
    transition: all .5s;
  }

  &__animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

